/* Coolors Exported Palette - coolors.co/efefef-04dbac-3454d1-383838-d1345b */

/* HSL */
$color1: hsla(0%, 0%, 94%, 1);
$color2: hsla(167%, 96%, 44%, 1);
$color3: hsla(228%, 63%, 51%, 1);
$color4: hsla(0%, 0%, 22%, 1);
$color5: hsla(345%, 63%, 51%, 1);

/* RGB */
$color1: rgba(239, 239, 239, 1);
$color2: rgba(4, 219, 172, 1);
$color3: rgba(52, 84, 209, 1);
$color4: rgba(56, 56, 56, 1);
$color5: rgba(209, 52, 91, 1);

/* Hex */
$color1: #EFEFEF;
$color2: #04DBAC;
$color3: #3454D1;
$color4: #383838;
$color5: #D1345B;
$color6: #ED254E;
