<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="{{ '/' | relative_url }}">About</a>
      <a href="{{ '/publications.html' | relative_url }}">Publications</a>
      <a href="{{ '/cv.html' | relative_url }}">CV</a>
    </nav>
  </header>

  <main class="main-content">
    {% if page.url == "/" %}
      <div class="about">
        <img src="/assets/headshot.png" alt="Headshot" class="headshot">
        <div class="contact">
          <h1>Faraz Heravi</h1>
          <p id="email">farazh [at] utexas [dot] edu</p>
          <p>
            <a href="https://linkedin.com/in/farazheravi">LinkedIn</a>
            <a href="https://github.com/fheravi">Github</a>
          </p>
        </div>
      </div>
    {% endif %}

    {{ content }}
  </main>
</body>
</html>
